{% extends "basic-bootstrap-template.html" %}

{% block css_link %}
<link rel="stylesheet" href="{{url_for('static', filename='trasaction-details.css')}}">
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <p>Transaction Details</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="clH3">Transaction Accounts</h3>
      <table border="1">
        <thead>
        <td>
          Account No. / Nick Name
        </td>
        <td>
          Branch
        </td>
        <td>
          IFSC Code
        </td>
        <td>
          Available Balance
        </td>
        <td>
          Transactions
        </td>
        </thead>
        <tr>
          <td>
            123XXXXX901234
          </td>
          <td>
            FARIDABAD SECTOR 24
          </td>
          <td>
            SBIN0050304
          </td>
          <td>
            <a href="https://www.youtube.com/">Click Here For Account Balance</a>
          </td>
          <td>
            <a href="https://www.youtube.com/">Click Here For Last 10 Transaction</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h3 class="clH3">Statements</h3>

      <select id="TransactionType" name="Transaction Type">
        <option value="1">Recent Transaction</option>
        <option value="2">Current Month</option>
        <option value="3">Last Month</option>
        <option value="4">Last 3 Months</option>
        <option value="5">Last 6 Months</option>
        <option value="6">Current Financial Year</option>
      </select>

      <table border="1" style="margin-top: 10px">

        <thead>
        <td>
          Date & Time
        </td>
        <td>
          Transaction Details
        </td>
        <td>
          Reference Number
        </td>
        <td>
          Debit
        </td>
        <td>
          Credit
        </td>
        <td>
          Balance (INR)
        </td>
        </thead>

        <tr>
          <td>
            2021-April-01 19:30:12
          </td>
          <td>
            POS 541919XXXXXX8421 AMAZON
          </td>
          <td>
            T90055922992
          </td>
          <td>
            24000
          </td>
          <td>
            0
          </td>
          <td>
            24000
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
